.user-input
{
    width: 400px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    display: block;
    margin: 20px auto;
}
.user-input-select
{
    width: 445px;
}
.emoji-picker
{
    position: fixed !important;
    top: 20px;
    left:50%;
    transform: translate(-50%);
    z-index: 1000;
}
.emoji-cotainer
{
    background-color: white;

}
.user-inpiut-emoji
{
    text-align: center;
}
.add-note-btn
{
    display: block;
    margin: 20px auto;
}

@media screen and (max-width:500px)
{
    .user-input
    {
        width: 220px;
        font-size: 10px;
    }
    .user-input-select
    {
        width: 260px;
        font-size: 10px;
    }
    .user-inpiut-emoji
    {
        width: 220px;
    }
}